<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>

    <form name="createTeamFrm">
        <div class="row">
            <div class="large-5 columns">
                <label> Team Name :
                    <input type="text" name="name" data-ng-model="setName" required/>
                </label>
                <div ng-show="createTeamFrm.name.$invalid && submitted">
                    <span class="error" ng-show="createTeamFrm.name.$error.required">Please enter team name</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="large-12 columns">
                <input type="button"  ng-click="createTeam()" value="Create" class="button small tiny"/>
            </div>
        </div>


    </form>
</section>