<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button class="md-raised">Button</md-button>
    <md-button class="md-raised md-primary">Primary</md-button>
    <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
    <md-button class="md-raised md-warn">Warn</md-button>
    <div class="label">Raised</div>

</section>

<section>
    <google-plus-signin clientid="6930735648-8bjl485b8r6ma2fqrep72pp2pst6idrc"></google-plus-signin>
    <a href="#" onclick="signOut();">Sign out</a>
</section>



